<header id="TopBanner" class="topbanner">
    <a href="{{ site.baseurl }}/index.html" class="left-link">
      <div class="left">
        <img src="{{ site.baseurl }}/Assets/img/logo.png" alt="Parking sign with arrow pointing right">
        <h1 class="site-title">Park Smarter</h1>  
      </div>
    </a>
</header>

<nav id="topnav">
  <button class="menu-toggle" aria-label="Toggle navigation menu">
    &#9776;
  </button>
  
  <ul>
    <li><a href="{{ site.baseurl }}/pay-pcn.html">Pay PCN</a></li>
    <li><a href="{{ site.baseurl }}/dispute-pcn.html">Dispute PCN</a></li>
    <li><a href="{{ site.baseurl }}/report-a-fault.html">Report a fault</a></li>
    <li><a href="{{ site.baseurl }}/dropped-kerbs.html">Dropped kerbs</a></li>
    <li><a href="{{ site.baseurl }}/faq.html">FAQs</a></li>
    <li><a href="{{ site.baseurl }}/what-we-do.html">What we do</a></li>
    <li><a href="{{ site.baseurl }}/our-officers.html">Our officers</a></li>
    <li><a href="{{ site.baseurl }}/our-partners.html">Our partners</a></li>
  </ul>
</nav>
